<% if posts.empty? %>
  <% if current_user %>
    <p>Apparently no-one that you're following has posted anything yet. :(</p>
  <% else %>
    <p>No posts are visible right now.</p>
  <% end %>

  <p>Here are the current users of this website. Follow the ones with good pun names.</p>

  <ul>
    <% User.all.each do |user| %>
      <li>
        <%= link_to user.username, blog_url(user) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <% posts.each do |post| %>
    <%= render partial: "posts/polymorphic_post_show", 
      locals: { post: post, display_author: true, big_title: false, collapsible_reblogs: true } %>
  <% end %>
<% end %>