<div style="margin-left: 15px;">
    <strong><%= link_to reblog.user.username, blog_reblog_url(reblog.user, reblog) %></strong> 
    <% if current_user %>
      (<%= reblog_link(reblog, "") %>)
    <% end %>
    : 

    <%= markdown.render(reblog.get_condensed_body).html_safe %>

    <% reblog.reblogs.each do |reblog| %>
      <%= render partial: "reblogs/condensed_reblog", locals: { reblog: reblog } %>
    <% end %>
</div>