<h1>top posts</h1>

<div id="top-posts-list"></div>

<script id="data" type="application/json">
  <%= render(partial: "api/dashboard/dashboard.json", 
        locals: { posts: @posts, top_level_posts: @top_level_posts, users: @users }).html_safe %>
</script>

<script>
  window.loadData = function(data) {
    window.flux = new Fluxxor.Flux({
      "PostsStore": new fluxPosts.store(data.posts), "UsersStore": new fluxUsers.store(data.users)
    }, {});

    React.render(React.createElement(TopPostsList, 
      { 
        flux: window.flux,
        top_level_posts: data.top_level_posts
      }), 
      $('#top-posts-list')[0]);
  };

  var data = JSON.parse($("#data").html());

  loadData(data);
</script>

