<h2>posts tagged #<%= @tag %></h2>

<%= react_component('PostList', 
  initial_state: JSON.parse(render partial: "api/dashboard/dashboard.json", locals: { posts: @posts }),
  big_title: false,
  collapsible_reblogs: true,
  display_author: true) %>
