<h1>top users</h1>

<div class="top-users-list">
  <% @users.each do |user| %>
    <%= react_component('UserThing', 
      user: JSON.parse(render partial: "api/users/user.json", locals: { user: user })) %>
  <% end %>
</div>
