<% collapse_class = collapsible ? "collapse" : "" %>

<div class="panel panel-default">
  <div class="panel-body">
      <h4>
        <a data-toggle="<%= collapse_class %>" data-target="#newTextPost">new text post
          <!-- <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> -->
        </a>
      </h4>
    <div class="<%= collapse_class %>" id="newTextPost">
      <form action="posts" method="post">
        <input type="hidden" name="post_type" value="text_post">
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" id="title" placeholder="Title (optional)" name="post[title]">
        </div>
        
        <textarea class="form-control" rows="3" name="post[body]"></textarea>

        <%= button_to "Post", posts_url, {action: :new, class: 'btn pull-right btn-primary'} %>
      </form>
    </div>
  </div>
</div>