<span class="pull-right">
  <a class="btn btn-sm btn-default">like</a>
  <% if post.is_rebloggable %>
    <%= post.reblog_descendents %> notes.
    <%= reblog_link(post, "btn btn-sm") %>
  <% end %>
</span>