<span class="pull-right">
  <a href="#"><span class="glyphicon glyphicon-like</a>
  <% if post.is_rebloggable %>
    <%= post.reblog_descendents %> notes.
    <%= reblog_link(post, "btn btn-sm") %>
  <% end %>
</span>