<h2>dashboard</h2>

<div class="panel panel-default">
  <div class="panel-body">
    <h2>new text post</h2>

    <form action="posts" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" placeholder="Title (optional)" name="post[title]">
      </div>
      
      <textarea class="form-control" rows="3" name="post[body]"></textarea>

      <%= button_to "Post", posts_url, {action: :new, class: 'btn pull-right btn-primary'} %>
    </form>
  </div>
</div>

<% if @posts.empty? %>
  <p>no posts are on this shitty website yet apparently</p>
<% else %>
  <% @posts.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><%= link_to post.title, blog_post_url(post.user, post) %></h2>
        <strong>by <%= post.user.username %></strong>
        <hr>
        <%= markdown.render(post.body).html_safe %>
      </div>
    </div>
  <% end %>
<% end %>