<h1><%= link_to @post.user.username, blog_url(@post.user) %>'s blog!!!</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= link_to @post.title, blog_post_url(@post.user, @post) %></h2>

    <hr>
    <%= markdown.render(@post.body).html_safe %>

    <span class="pull-right">
      <a class="btn btn-sm">like</a>
      <a class="btn btn-sm">reblog</a>
    </span>
  </div>
</div>