/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Helvetica, Arial, sans-serif;
}

blockquote {
  font-size: 14px;
}

.child-reblogs {
  border-left: dashed thin;
  border-color: lightgrey;
}


.profile-picture-floater-lg {
  position: absolute;
  left: -85px;
}

.profile-picture-lg img {
  height: 80px;
  width: 80px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: grey;
}

.profile-picture {
  transition: all .2s ease-in-out;
}

.profile-picture:hover {
  transform: scale(1.1);
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.glyphicon {
  transition: all .1s ease-in-out;
}

.glyphicon:hover {
  transform: scale(1.5);
}

.profile-picture-floater-sm {
  position: absolute;
  left: -65px;
}

.profile-picture-sm img {
  height: 60px;
  width: 60px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: grey;
}

.blog-heading {
  clear: both;
  overflow:hidden;
}

.panel-footer {
  background-color: #3A3A3A;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.ancestor-posts-container {
  perspective: 800px;
}

.ancestor-post {
  margin-left: 60px;
  border-style: solid;
  border-color: grey;
  box-shadow: 2px 4px 4px #666;
  transition: all .2s ease-in-out;
}

.ancestor-post {
  transform: rotateY( -3deg );
}

.ancestor-post:hover {
  transform: rotateY( 0deg );
  background-color: rgba(105, 121, 137, 1);
}

.ancestor-post img {
  transform: rotateY( -3deg );
}

.ancestor-post img:hover {
  transform: rotateY( 0deg );
}

.comment-section {
  margin-left:20px;
}

.nested-reblog-post {
  margin: 0px;
  padding: 0px;
}

.nested-reblog-post:hover {
  background-color: rgba(105, 121, 137, 1);
}
