<h2>users you are following:</h2>

<% if @users.length > 0 %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.username, blog_url(user) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>I guess you aren't following anyone.</p>
<% end %>