<h1>all your drafts</h1>

<%= react_component('PostList', 
  initial_state: JSON.parse(render partial: "api/dashboard/dashboard.json", locals: { posts: @posts }),
  big_title: false,
  current_user: current_user,
  collapsible_reblogs: true,
  display_author: true) %>
